@{
    List<CartItem> cart = (List<CartItem>)ViewData["cart"];
}

@section Scripts
{
    <script src="~/js/Cart.js"></script>
}


<table id="mainframe">
    <p class="emphasize" style="float:right">Cart Total: $<span class="tbox-invisible emphasize grand_total"></span></p>

    @for (int i = 0; i < cart.Count; i++)
    {
        double itemTotal = cart[i].Quantity * cart[i].product.Price;

        <tr>
            <td class="listing" style="padding-bottom: 1%;">
                <img src=@cart[i].product.Url class="image" />
                <div id="pdt-name">@cart[i].product.Name</div>
                <div id="pdt-descr">@cart[i].product.Description</div>
            </td>

            <td class="td-filler">
                <table>
                    <tr>
                        <td>Price:</td>
                        <td>$<span class="price">@cart[i].product.Price</span></td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td><input class="quantity" min="1" name="@cart[i].pId-quantity" value="@cart[i].Quantity" type="number" productid="@cart[i].pId"></td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                        <td>$<span class="tbox-invisible product_total">@itemTotal</span></td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <button class="remove_icon" product_id="@cart[i].pId"><img src="~/img/delete.png" width="30" height="30" /></button>
                        </td>
                    </tr>
                </table>
            </td>

            <td class="td-filler"></td>
        </tr>
    }
</table>
<br />
<form action="/Cart/Checkout" method="post">
    <input type="submit" class="button" style="float:right" value="CheckOut">
</form>
<br />

<script src="~/js/Cart.js"></script>
